body {
    background-color: #014064;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

main {
    width: 800px;
}

main > section {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #007a99;
    box-shadow: 5px 5px 5px #999;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-image: url('imgbackground.jpg');
    background-size: cover;
    color: rgb(247, 244, 244);
}

section > div {
    display: flex;
    flex-direction: column;
}

section > ul {
    list-style-type: none;
}

fieldset {
    border: 1px solid #000;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

